*{
    margin : 0;
}

.background img{
    position : absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

video{
    position:absolute;
    width : 50%;
    height: 50%;
    top: 30%;
    left : 25%;
    z-index: 1000;
    
}

canvas {
    position:absolute;
    height:100%;
    width:100%;
	cursor: crosshair;
    display: block;
    z-index:500;
}